    {{form_start(variationCouleur_form)}}

         {{form_row(variationCouleur_form.variationCouleurName,{label:'Nom :'})}}
      
         <button type="submit" class="button is-primary">Enregistrer</button>

    {{form_end(variationCouleur_form)}}