{# {% extends "admin/_template.html.twig" %} #}
{% extends "_template.html.twig" %}

{% block title %}Couleur-{{variationCouleur.variationCouleurName}}{% endblock %}

{% block content %}
<div class="section">
    <h1 class="title">{{variationCouleur.variationCouleurName}}</h1>
    {% include "variation_couleur/_variationCouleur_form.html.twig" %}
    {% include "includes/flash.html.twig" %}
</div>
{% endblock %}