    {{form_start(image_form)}}

         {{form_row(image_form.url,{label:'URL :'})}}
        {{form_row(image_form.produitConfigurable,{label:'Produit configurable :'})}}
         <button type="submit" class="button is-primary">Enregistrer</button>

    {{form_end(image_form)}}