    {{form_start(fabricant_form)}}

         {{form_row(fabricant_form.name,{label:'Nom :'})}}
        {{form_row(fabricant_form.fabricantDescription,{label:'Description du fabricant :'})}}
         <button type="submit" class="button is-primary">Enregistrer</button>

    {{form_end(fabricant_form)}}