{# {% extends "admin/_template.html.twig" %} #}
{% extends "_template.html.twig" %}

{% block title %}Fabricant-{{fabricant.name}}{% endblock %}

{% block content %}
<div class="section">
    <h1 class="title">{{fabricant.name}}</h1>
    {% include "fabricant/_fabricant_form.html.twig" %}
    {% include "includes/flash.html.twig" %}
</div>
{% endblock %}