    {{form_start(sousTypeProduit_form)}}

         {{form_row(sousTypeProduit_form.name,{label:'Nom :'})}}
        {{form_row(sousTypeProduit_form.typeProduit,{label:'TypeProduit :'})}}
         <button type="submit" class="button is-primary">Enregistrer</button>

    {{form_end(sousTypeProduit_form)}}