    {{form_start(typeProduit_form)}}

         {{form_row(typeProduit_form.name,{label:'Nom :'})}}
    
         <button type="submit" class="button is-primary">Enregistrer</button>

    {{form_end(typeProduit_form)}}