{# {% extends "admin/_template.html.twig" %} #}
{% extends "_template.html.twig" %}

{% block title %}Fabricant-{{typeProduit.name}}{% endblock %}

{% block content %}
<div class="section">
    <h1 class="title">{{typeProduit.name}}</h1>
    {% include "type_produit/_typeProduit_form.html.twig" %}
    {% include "includes/flash.html.twig" %}
</div>
{% endblock %}